{% extends 'base.html' %}

{% block title %}

{% endblock %}


{% block content_title %}
    Статті журналу № {{ number }} за {{ year }} рік   ({{ s }} стор.)
{% endblock %}


{% block content %}
    <div>
        <table class="head" style="width: 100%">
            <colgroup>
                <col style="width: 20%">
                <col style="width: 35%">
                <col style="width: 45%">
            </colgroup>
            <thead>
                <tr>
                    <th> Розділ </th>
                    <th> Автори </th>
                    <th> Назва статті </th>
                </tr>
            </thead>
        </table>
    </div>



    <div class="body" style="height: 40%; owerflow-y: scroll;">
        <div>
            <table id="journal_detail_articles" style="width: 100%">
                <colgroup>
                    <col style="width: 20%">
                    <col style="width: 35%">
                    <col style="width: 45%">
                </colgroup>
                <tbody>
                    {% for a in articles %}
                        <tr>
                            <td>
                                {{ a.topic }}
                            </td>
                            <td>
                                    {% if a.author.f_name %}
                                    <a href="">
                                        {{a.author.l_name}} {{a.author.f_name[0]}}. {{a.author.f2_name[0]}}.
                                    </a>
                                    {% else %}
                                        Автор відсутній
                                    {% endif %}

                                    {% for c in a.coauthors %}

                                            <a href=""> , &nbsp {{ c.author.l_name }} {{c.author.f_name[0]}}. {{c.author.f2_name[0]}}. </a>

                                    {% endfor %}


                            </td>
                            <td>
                                <a href="{{ url_for('articles.article_detail', slug = a.slug) }}">
                                    {{ a.article_name }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>






{% endblock %}